<!DOCTYPE html>

<html>
<head>
<title>Min max testing la la la </title>
<style>
#abba {
border: medium solid black;
margin: 10px;
padding: 10px;
background: yellow;
width: 15em;
}
#content {
float: left;
background: green;
}
</style>
    <script>
window.onload = function () {
	var abba = document.getElementById('abba');
	//alert(abba.offsetWidth);
	abba.style.minWidth = '30em';
	alert(abba.offsetWidth);
}
</script>
</head>
<body>
<div id="content">
<div id="abba">
asdfashfasdfasfdl;kja
sdfj
asfjdlas
fd;fasfdasdfasfja
sdflsa;jf
djsjdjlsfjasjdf;;ljdasdfashfasdfasfdl;kja
sdfj
asfjdlas
fd;fasfdasdfasfja
sdflsa;jf
djsjdjlsfjasjdf;;ljdasdfashfasdfasfdl;kja
sdfj
asfjdlas
fd;fasfdasdfasfja
sdflsa;jf
djsjdjlsfjasjdf;;ljdasdfashfasdfasfdl;kja
sdfj
asfjdlas
fd;fasfdasdfasfja
sdflsa;jf
djsjdjlsfjasjdf;;ljdasdfashfasdfasfdl;kja
sdfj
asfjdlas
fd;fasfdasdfasfja
sdflsa;jf
djsjdjlsfjasjdf;;ljdasdfashfasdfasfdl;kja
sdfj
asfjdlas
fd;fasfdasdfasfja
sdflsa;jf
djsjdjlsfjasjdf;;ljd
</div>
</div>
</body>
</html>